{% extends 'base.html.twig' %}

{% block title %}Qui sommes nous?{% endblock %}

{% block body %}

    <div class="container">
        <h2 class="text-center">Qui sommes nous?</h1>
    </div>


<h3 class="text-center">Nos valeurs</h3>

<p>Développeurs indépendants et respectueux de l'environnement, nous avons crée O'FoodBank en 2019.</p>

<p>Notre savoir faire est bâti sur 4 fondements :</p>

<ul>
    <li>l'expérience</li>
    <li>la convivialité</li>
    <li>l'éthique</li>
    <li>le respect</li>
</ul>

<p>Professionnels confirmés, nous savons à quel point votre projet est un moment important pour chacun d'entre nous.</p>

<p>C'est pourquoi nous nous attachons à comprendre votre situation et respecter votre demande : c'est là, notre ligne de conduite permanente.</p>

<p>Pour obtenir un conseil personnalisé, une estimation, ou toute information, il suffit de nous contacter :

<ul>
    <li> Tél. : 01.02.03.04.05</li>
    <li>Email : ofoodbank@gmail.com</li>     
    <li>Notre secteur de travail : La France.</li>
</ul>

<p>Merci de votre visite, et à bientôt.</p>

<p>O'FoodBank, partenaire de vos projets.</p>

<h3 class="text-center">Notre équipe</h3>

<p><strong>Natacha:</strong> Responsable Back-end</p>
<p><strong>Remy:</strong> Git Master</p>
<p><strong>Bastien:</strong> Project Manager</p>
<p><strong>Karine:</strong> Référente technique et Product Owner</p>

<p>Et nous sommes tous responsables (du) Front</p>



{% endblock %}
