{% extends 'base.html.twig' %}

{% block title %}Qui sommes nous?{% endblock %}

{% block picture_header %}
    {# Cacher la div en mobile : class="d-none d-md-block" #}
        <div id="header-pic" class="d-none d-md-block">
            <p>Image : Lisovskaya Natalia - Shutterstock </p>
        </div>                        
{% endblock %}  

{% block body %}

    <div class="container">
        <h2 class="text-center">Qui sommes nous?</h1>
    </div>

<p>Étudiants chez O'Clock, nous avons choisi pour notre projet de fin d'étude de réaliser ce site de mise en relation entre les commerçants et les banques alimentaires.</p>
<p>Au cours de 4 mois intensifs (3 mois de socle, 1 mois de spé), nous avons acquis les compétences nécessaires à la réalisaton de ce site, et après 1 mois de travail intensif sur notre projet, nous sommes fiers de pouvoir vous présenter notre travail.</p>

<h3 class="text-center">La recette de notre site : </h3>

<ul>
    <li>Beaucoup de Symfony</li>
    <li>Un bon morceau de Bootstrap</li>
    <li>Quelques cuillèrées de JavaScript, Ajax et JQuery</li>
    <li>Une pincée de bundles divers et variés (coucou Alice !)</li>
    <li>Et surtout, de la bonne humeur et de la rigolade à volonté</li>
</ul>

<h3 class="text-center">Nos valeurs : </h3>

<ul>
    <li>la convivialité</li>
    <li>l'éthique</li>
    <li>le respect</li>
</ul>

<h3 class="text-center">Si vous voulez nous contacter : </h3>

<ul>
    <li>Email : <a href="mailto:ofoodbank@gmail.com"> ofoodbank@gmail.com </a></li>     
    <li>Notre secteur de travail : La France.</li>
</ul>

    <p>Merci de votre visite, et à bientôt.</p>

    <p>O'FoodBank, partenaires de vos projets.</p>

    <center>
        <h3>Notre équipe</h3>
    </center>

    <div class="row my-2 text-center">          
        <div class="col-12 col-md-3 mt-2">           
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Natacha Heubès</h5>
                    <h6 class="card-subtitle mb-2 text-muted">PHP/Symfony</h6>
                    <p class="card-text">Responsable du Back et du Front.
                    </p>
                    <p class="card-text">Mobilité : sud Île de France et Basse-Normandie
                    </p>
                    <div class="d-flex flex-row align-items-end justify-content-center">
                        <a class="nav-link text-dark" href="https://www.linkedin.com/in/natachaheubes/">
                        <i class="fab fa-2x fa-linkedin"></i></a>
                        <a class="nav-link text-dark" href="https://github.com/natacha-h">
                        <i class="fab fa-2x fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-12 col-md-3 mt-2">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Rémy Pelletier</h5>
                    <h6 class="card-subtitle mb-2 text-muted">PHP/Symfony</h6>
                    <p class="card-text">Git Master et Responsable Front.</p>
                    <p class="card-text">Mobilité : Région de Grenoble</p>
                    <div class="d-flex flex-row align-items-end justify-content-center">
                        <a class="nav-link text-dark" href="https://www.linkedin.com/in/remyplt/">
                        <i class="fab fa-2x fa-linkedin"></i></a>
                        <a class="nav-link text-dark" href="https://github.com/Remplt">
                        <i class="fab fa-2x fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-12 col-md-3 mt-2">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Bastien Moreau</h5>
                    <h6 class="card-subtitle mb-2 text-muted">PHP/Symfony</h6>
                    <p class="card-text">Project Manager et Responsable Front.</p>
                    <p class="card-text">Mobilité : Lyon, ouest lyonnais</p>
                    <div class="d-flex flex-row align-items-end justify-content-center">
                        <a class="nav-link text-dark" href="https://www.linkedin.com/in/bastien--moreau/">
                        <i class="fab fa-2x fa-linkedin"></i></a>
                        <a class="nav-link text-dark" href="https://github.com/Bastien2805">
                        <i class="fab fa-2x fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-3 mt-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Karine Chakroun</h5>
                    <h6 class="card-subtitle mb-2 text-muted">PHP/Symfony</h6>
                    <p class="card-text">Référente technique, Product Owner et Front.</p>
                    <p class="card-text">Mobilité : le grand Lyon</p>
                    <div class="d-flex flex-row align-items-end justify-content-center">
                        <a class="nav-link text-dark" href="https://www.linkedin.com/in/karine-chakroun-55a034186/">
                        <i class="fab fa-2x fa-linkedin"></i></a>
                        <a class="nav-link text-dark" href="https://github.com/karinechakroun">
                        <i class="fab fa-2x fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>



            {% endblock %}