{% extends 'base.html.twig' %}

{% block title %}Qui sommes nous?{% endblock %}

{% block body %}

    <div class="container">
        <h2 class="text-center">Qui sommes nous?</h1>
    </div>


<h3 class="text-center">Nos valeurs</h3>

<ul>
    <li>la convivialité</li>
    <li>l'éthique</li>
    <li>le respect</li>
</ul>

<p>Professionnels confirmés, nous savons à quel point votre projet est un moment important pour chacun d'entre nous.</p>

<p>C'est pourquoi nous nous attachons à comprendre votre situation et respecter votre demande : c'est là, notre ligne de
    conduite permanente.</p>

<p>Pour obtenir un conseil personnalisé, une estimation, ou toute information, il suffit de nous contacter :

<ul>
    <li> Tél. : 01.02.03.04.05</li>
    <li>Email : ofoodbank@gmail.com</li>     
    <li>Notre secteur de travail : La France.</li>
</ul>

    <p>Merci de votre visite, et à bientôt.</p>

    <p>O'FoodBank, partenaires de vos projets.</p>

    <center>
        <h3>Notre équipe</h3>
    </center>

    <div class="row my-2 text-center">          
        <div class="col-12 col-md-3">           
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Natacha Heubès</h5>
                    <h6 class="card-subtitle mb-2 text-muted">PHP/Symfony</h6>
                    <p class="card-text">Responsable du Back et Front.
                    </p>
                    <div class="d-flex flex-row align-items-end justify-content-center">
                        <a class="nav-link text-dark" href="https://www.linkedin.com/in/natachaheubes/">
                        <i class="fab fa-2x fa-linkedin"></i></a>
                        <a class="nav-link text-dark" href="https://github.com/natacha-h">
                        <i class="fab fa-2x fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-12 col-md-3 mt-2">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Rémy Pelletier</h5>
                    <h6 class="card-subtitle mb-2 text-muted">PHP/Symfony</h6>
                    <p class="card-text">Git Master et Responsable Front.</p>
                    <div class="d-flex flex-row align-items-end justify-content-center">
                        <a class="nav-link text-dark" href="https://www.linkedin.com/in/remyplt/">
                        <i class="fab fa-2x fa-linkedin"></i></a>
                        <a class="nav-link text-dark" href="https://github.com/Remplt">
                        <i class="fab fa-2x fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-12 col-md-3 mt-2">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Bastien Moreau</h5>
                    <h6 class="card-subtitle mb-2 text-muted">PHP/Symfony</h6>
                    <p class="card-text">Project Manager et Responsable Front.</p>
                    <div class="d-flex flex-row align-items-end justify-content-center">
                        <a class="nav-link text-dark" href="https://www.linkedin.com/in/bastien--moreau/">
                        <i class="fab fa-2x fa-linkedin"></i></a>
                        <a class="nav-link text-dark" href="https://github.com/Bastien2805">
                        <i class="fab fa-2x fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-3 mt-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Karine Chakroun</h5>
                    <h6 class="card-subtitle mb-2 text-muted">PHP/Symfony</h6>
                    <p class="card-text">Référente technique, Product Owner et Front.</p>
                    <div class="d-flex flex-row align-items-end justify-content-center">
                        <a class="nav-link text-dark" href="https://www.linkedin.com/in/karine-chakroun-55a034186/">
                        <i class="fab fa-2x fa-linkedin"></i></a>
                        <a class="nav-link text-dark" href="https://github.com/karinechakroun">
                        <i class="fab fa-2x fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>



            {% endblock %}