{% extends 'base.html.twig' %}

{% block title %}Qui sommes nous?{% endblock %}

{% block body %}

 <div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4"><center>Qui sommes nous?</center></h1>
    </div>
</div>

<center><h3>Nos valeurs</h3></center>

<p>Développeurs indépendants et respectueux de l'environnement depuis plus de 20 ans à Cancùn, nous avons crée O'FoodBank en 2005.</p>

<p>Notre savoir faire est bâti sur 4 fondements :</p>

<ul>
    <li>l'expérience</li>
    <li>la convivialité</li>
    <li>l'éthique</li>
    <li>le respect</li>
</ul>

<p>Professionnels confirmés, nous savons à quel point votre projet est un moment important pour chacun d'entre nous.</p>

<p>C'est pourquoi nous nous attachons à comprendre votre situation et respecter votre demande : c'est là, notre ligne de conduite permanente.</p>

<p>Pour obtenir un conseil personnalisé, une estimation, ou toute information, il suffit de nous contacter :

<ul>
    <li> Tél. : 01.02.03.04.05</li>
    <li>Email : ofoodbank@gmail.com</li>     
    <li>Notre secteur de travail : La France.</li>
</ul>

<p>Merci de votre visite, et à bientôt.</p>

<p>O'FoodBank, partenaires de vos projets.</p>

<center><h3>Notre équipe</h3></center>

<p>Natacha: Responsable Back-end</p>
<p>Remy: Git Master</p>
<p>Bastien: Project Manager</p>
<p>Karine: Référente techniques et Product Owner</p>

<p>Et nous sommes tous responsable (du) front</p>



{% endblock %}
