{% extends 'base.html.twig' %}

{% block title %}Qui sommes nous?{% endblock %}

{% block body %}

 <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4"><center>Qui sommes nous?</center></h1>
            </div>
        </div>

    <h3>Ce site a était mis en place afin d'éviter le gaspillage alimentaire et lutter contre la précarité</h3>

    <center><h3>Notre équipe</h3></center>

    <h5>Natacha , Responsable Back-end</h5>
    <h4>Remy, Git Master</h4>
    <h4>Bastien, Project Manager</h4>
    <h4>Karine,Référente techniques et Product Owner</h4>

    <h4>Et nous sommes tous responsable front</h4>



{% endblock %}
