{% extends 'base.html.twig' %}

{% block title %}Accueil!{% endblock %}

{% block body %}

<h1>Notre mission</h1>

<p>Nous avons crée cette plateforme afin de lutter contre la précarité et le gaspillage alimentaire
Notre mission première est la collecte de dons alimentaire et de la redistribution de ces derniers a des associations.
</p>

<p>Chaque année en France (source ADEME) :
Une personne jette en moyenne 7 kilos d’aliments non déballés.
Le gaspillage représente 10 millions de tonnes, répartis à hauteur de 32% au niveau de l'étape de la production; 21% sur la transformation; 14% sur la distribution et 33% au niveau de la consommation c'est à dire moi, vous, nous tous. Le schéma ci-dessous représente la répartition du gaspillage alimentaire sur les étapes de la chaîne de mise à disposition des produits et les impacts associés (Source : ADEME) :
Une personne jette en moyenne 7 kilos d’aliments non déballés.
Le gaspillage représente 10 millions de tonnes, répartis à hauteur de 32% au niveau de l'étape de la production; 21% sur la transformation; 14% sur la distribution et 33% au niveau de la consommation c'est à dire moi, vous, nous tous. Le schéma ci-dessous représente la répartition du gaspillage alimentaire sur les étapes de la chaîne de mise à disposition des produits et les impacts associés (Source : ADEME) :
Les commerces de proximité, les supermarchés, les hypermarchés optimisent leurs stocks mais doivent faire face à des dates de péremption et à des invendus qui se transforment souvent en kilos voire tonnes de déchets tous les ans.



{% endblock %}
