{% extends 'base.html.twig' %}

{% block title %}Acceuil!{% endblock %}

{% block body %}

<h1>Notre mission</h1>

<p>Nous avons crée cette plateforme afin de lutter contre la précarité et le gaspillage alimentaire
Notre mission première est la collecte de dons alimentaire et de la redistribution de ces derniers a des associations.
</p>


{% endblock %}
