{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

<h2 class="display-4">
    <center>Comment ça marche</center>
</h2>

<div class="">
    
<p>La France s’est engagée au travers du Pacte national de lutte contre le gaspillage alimentaire à réduire de moitié le gaspillage alimentaire à horizon 2025 et a adopté une une loi en ce sens (LOI n° 2016-138 du 11 février 2016).</p>

<p>Dans ce contexte, la plateforme O’FoodBank propose de mettre en relation les hypermarches et les associations en direct pour donner une nouvelle vie à des produits encore consommables qui pourraient finir à la poubelle.</p>


<p>Traçabilité des échanges entre les utilisateurs : les notifications mail et les synthèses des dons permettent de disposer d'un suivi sur vos interventions. 
Sécurité informatique et confidentialité des données : le site est sécurisé, hébergé en France, prend en compte les principes du règlement général sur la protection des données défini au niveau européen (GDPR) et est en conformité avec la Commission Nationale de l'Informatique et des Libertés.</p>

<p>O’FoodBank est une initiative qui vise à réduire le gaspillage des produits alimentaires et d’hygiène.</p>

<p>La plateforme met en relation des particuliers, des entreprises, des associations pour organiser le don et la collecte de produits dont la date d’expiration approche ou des invendus qui ne seront pas utilisés. </p>

<p>Il s’agit d’une solution qui permet d’assurer la redistribution de produits  
Des fonctionnalités de géolocalisation, de prise de rendez-vous, de notification mail et sms sont intégrées.
Un donneur sur une annonce peut être collecteur sur une autre !</p>



<div class="card col-6 float-right p-0 m-2">
  <img src="https://occitanie.ademe.fr/sites/default/files/schema-chiffres-gaspillage-alimentaire.jpg" class="card-img-top" alt='Source : ADEME/ C4D'>
  <div class="card-footer text-muted p-0 m-0">
    <small>Source : ADEME/ C4D</small>
  </div>
</div>

<p>Les  dons réalisés ou collectés dans votre profil utilisateur vous permettront d'accéder à l'historique de vos dons et d'intervenir pour organiser vos remises et vos collectes. </p>
Vous êtes une entreprise
Vous êtes invités à rejoindre notre démarche anti gaspillage en proposant les produits encore consommables que vous n’utiliserez pas à travers notre plateforme

Cette plateforme anti gaspillage permet de suivre les dons mis en ligne et d’être informé sur leur acheminement.

Vous êtes une association
Vous voulez rejoindre notre démarche anti gaspillage en utilisant la plateforme pour récupérer des produits alimentaires.
Il est possible de récupérer :

<p>Des produits alimentaires proposés par des professionnels tels que des supermarchés ou des hypermarchés. Vous serez notifiés par email dès qu'une entreprise proposera un don.Le donateur recevra également un email si vous voulez ce don. Vos espace personnel vous permettra de suivre vos dons de leur mise en ligne jusqu'à leur récupération. </p>

Bibliographie
Pour en savoir plus, voici une bibliographie sélective qui permet de prendre connaissance des enjeux sur le gaspillage alimentaire, de manière détaillée :
les préconisations de la Direction Générale de la Concurrence, de la Consommation et de la Répression des Fraudes (DGCCRF) sur les produits qui sont mis en ligne (voirhttps://www.inc-conso.fr/content/alimentation/etiquetage-duree-de-vie-des-denrees-alimentaires.
https://www.ademe.fr/sites/default/files/assets/documents/ademe_mag96-p12_gaspillage_alimentaire.pdf
Etiquetage denrées alimentaires: https://www.inc-conso.fr/content/alimentation/etiquetage-duree-de-vie-des-denrees-alimentaires
http://agriculture.gouv.fr/infographie-le-gaspillage-alimentaire-et-les-contes-de-lantigaspi : Infographie du ministère de l’agriculture
http://agriculture.gouv.fr/pacte-national-de-lutte-contre-le-gaspillage-alimentaire-les-partenaires-sengagent : Pacte national de lutte contre le gaspillage alimentaire
https://www.legifrance.gouv.fr/eli/loi/2016/2/11/AGRX1531165L/jo/texte : LOI n° 2016-138 du 11 février 2016
</div>

{% endblock %}
