{% extends 'base.html.twig' %}

{% block title %}Comment ça marche ?{% endblock %}

{% block body %}

<h2 class="display-4">
    <center>Comment ça marche ?</center>
</h2>
    
{# <img  class="col-10 offset-1" src="{{ asset('pictures/comment_ca_marche.png')}} " alt='how its work'> #}

<div id="shema">

</div>


<p>
    La France s’est engagée au travers du Pacte national de lutte contre le gaspillage alimentaire à réduire de moitié le gaspillage alimentaire à horizon 2025 et a adopté une une loi en ce sens (LOI n° 2016-138 du 11 février 2016).
</p>

<p>
    Dans ce contexte, la plateforme O’FoodBank propose de mettre en relation les hypermarches et les associations en direct pour donner une nouvelle vie à des produits encore consommables qui pourraient finir à la poubelle.
</p>


<p>
    Traçabilité des échanges entre les utilisateurs : les notifications mail et les synthèses des dons permettent de disposer d'un suivi sur vos interventions.<br>
    Sécurité informatique et confidentialité des données : le site est sécurisé, hébergé en France, prend en compte les principes du règlement général sur la protection des données défini au niveau européen (GDPR) et est en conformité avec la Commission Nationale de l'Informatique et des Libertés.
</p>

<p>
    O’FoodBank est une initiative qui vise à réduire le gaspillage des produits alimentaires et d’hygiène.
</p>

<p>
    La plateforme met en relation des particuliers, des entreprises, des associations pour organiser le don et la collecte de produits dont la date d’expiration approche ou des invendus qui ne seront pas utilisés. 
</p>

<p>
    Il s’agit d’une solution qui permet d’assurer la redistribution de produits.<br>  
    Des fonctionnalités de géolocalisation, de prise de rendez-vous, de notification mail sont intégrées.<br>
</p>

<p>
    Les dons réalisés ou collectés dans votre profil utilisateur vous permettront d'accéder à l'historique de vos dons et d'intervenir pour organiser vos remises et vos collectes. <br>
    Cette plateforme anti gaspillage permet de suivre les dons mis en ligne et d’être informé sur leur acheminement.
</p>

<ul class="ml-0 pl-0">
    <p>Vous êtes une <strong>entreprise</strong></p>
    <li class="ml-4">Vous êtes invités à rejoindre notre démarche anti gaspillage en proposant les produits encore consommables que vous n’utiliserez pas à travers notre plateforme</li>
</ul>

<ul class="ml-0 pl-0">
    <p>Vous êtes une <strong>association</strong></p>
    <li class="ml-4">Vous voulez rejoindre notre démarche anti gaspillage en utilisant la plateforme pour récupérer des produits alimentaires.</li>
</ul>

<ul class="ml-0 pl-0">
    <p>Il est possible de récupérer :</p>
    <li class="ml-4">Des produits alimentaires proposés par des professionnels tels que des supermarchés ou des hypermarchés. Vous serez notifiés par email dès qu'une entreprise proposera un don. Le donateur recevra également un email si vous voulez ce don. Votre espace personnel vous permettra de suivre vos dons de leur mise en ligne jusqu'à leur récupération.</li>
</ul>

<h5>Bibliographie</h5>

<ul class="ml-0 pl-0">
    <p>Pour en savoir plus, voici une bibliographie sélective qui permet de prendre connaissance des enjeux sur le gaspillage alimentaire, de manière détaillée :</p>
    <li class="ml-4">les préconisations de la Direction Générale de la Concurrence, de la Consommation et de la Répression des Fraudes (DGCCRF) sur les produits qui sont mis en ligne (voir https://www.inc-conso.fr/content/alimentation/etiquetage-duree-de-vie-des-denrees-alimentaires).</li>
    <li class="ml-4">
        <a href="https://www.ademe.fr/sites/default/files/assets/documents/ademe_mag96-p12_gaspillage_alimentaire.pdf" class="break-link" target="_blank">
            https://www.ademe.fr/sites/default/files/assets/documents/ademe_mag96-p12_gaspillage_alimentaire.pdf
        </a>
    </li>
    <li class="ml-4">Etiquetage denrées alimentaires:
        <a href="https://www.inc-conso.fr/content/alimentation/etiquetage-duree-de-vie-des-denrees-alimentaires" class="break-link" target="_blank">
            https://www.inc-conso.fr/content/alimentation/etiquetage-duree-de-vie-des-denrees-alimentaires
        </a>
    </li>
    <li class="ml-4"> Infographie du ministère de l’agriculture :
        <a href="http://agriculture.gouv.fr/infographie-le-gaspillage-alimentaire-et-les-contes-de-lantigaspi" class="break-link" target="_blank">
            http://agriculture.gouv.fr/infographie-le-gaspillage-alimentaire-et-les-contes-de-lantigaspi
        </a>
    </li>
    <li class="ml-4"> Pacte national de lutte contre le gaspillage alimentaire :
        <a href="http://agriculture.gouv.fr/pacte-national-de-lutte-contre-le-gaspillage-alimentaire-les-partenaires-sengagent" class="break-link" target='_blank'>
            http://agriculture.gouv.fr/pacte-national-de-lutte-contre-le-gaspillage-alimentaire-les-partenaires-sengagent
        </a> 
    </li>
    <li class="ml-4">LOI n° 2016-138 du 11 février 2016 :
        <a href="https://www.legifrance.gouv.fr/eli/loi/2016/2/11/AGRX1531165L/jo/texte" class="break-link" target='_blank'>
            https://www.legifrance.gouv.fr/eli/loi/2016/2/11/AGRX1531165L/jo/texte
        </a>
    </li>
</ul>


{% endblock %}
