body, html{
    margin: 0;
    padding: 0;
}

.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

#footer-gradient, #nav-bg-color{
    background-color : #E9F2DF;
}

li.nav-item.text-lg-left.text-sm-center{
    text-align: center;
}

.circle-text {
    transition: 1s;
    width:103%;
}
.circle-text:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    background: #5BA629; 
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
}
.circle-text div {
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:white;
    text-transform: uppercase;
}

.circle-text:hover{
    transition: 1s;
    transform: rotate(-20deg);
}

@media (min-height: 300px) {
    .navbar, .navbar-collapse ul {
      position: sticky;
      top: 0;
    }
  }