body{
    width: 80%;
    margin: 0 auto;
}

body, html{
    margin: 0;
    padding: 0;
}

.hide-my-form{
    display: none;
}

/* Suppression padding sur container fluid */
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

/* Background Infos profil */

.profil-bg {
    background: #E9F2DF;
}

h2{
    margin: 1.5em 0;
}

h3{
    margin-bottom: .7em;
}

/* Gestion de la couleurs pour la nav et le footer */
#nav-bg-color{
    background-color: #c6dc12;
}

#nav-bg-color a{
    color: black;
} 

#footer-gradient {
    background-color : #E9F2DF;
}

/* Gestion de l'image dans le footer */
li.nav-item.text-lg-left.text-sm-center{
    text-align: center;
}

/* Changement de couleur des boutons de classe btn-primary */
.btn-primary{
    background-color: #40a629;
    border-color: #40a629;
}

.btn-primary:hover{
    background-color: #40a629;
    border-color: #40a629;
}

/* Padding et structure du texte "je suis ..." */
li.nav-item.col-12.col-md-2{
    padding-right: 0px;
    padding-left: 0px;
    white-space: nowrap;
}

/* Padding des ronds */
li.nav-item.col-6.col-md-5 {
    padding-left: 0;
    padding-right: 0;
}

/* Permet de gerer les ronds du header */
.circle-text {
    transition: 1s;
    width:103%;
}
.circle-text:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    background: #40a629; 
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
}
.circle-text div {
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:white;
    text-transform: uppercase;
    font-size: 0.8em;
}

.circle-text:hover{
    transition: 1s;
    transform: rotate(-20deg);
}

/* Couleur bouton de validation */
.dark-green{
    background-color: #40a629;
    color: white;
}
/* page détail d'un don */
#reserved .fas{
    color: #f49f0a;
    margin-bottom: 0;
}

#select, .return{
    background-color: #40a629;
    color: white;
}
#select:hover {
    text-decoration: none; 
}

#reserved{
    background-color: rgba(244, 159, 10, .4);
    padding: .2em;
}

.return-to-list{
    text-align: right;
    margin-top: .5em;
}
.return-to-list a{
    text-decoration: none;
    font-weight: bold;
    color: #40a629;
}

.return-to-list a:hover{
    text-decoration: none;
    color: #40a629;
}

#reward p{
    margin-bottom: 0;
}

#btn-return{
    margin: 1em 0 2em;
    text-align: center;
    padding-top: .5em;
}

.return{
    padding: .7em;
    border-radius: 3px;
}

.return:hover{
    text-decoration: none;
    color: white;
}

/* Page 404 */
.page-404 {
    background-image: url(../pictures/404-chou.jpg);
    height: 100vh;
    margin: 20px 0px;
    display: flex;
    align-items: center;
}

.text-middle-404 {
    color: #666;
    text-align: center;
    background: #c6dc12;
    padding: 10px;
    width: 200vh;
}

.text-middle-404 a{
    color: #666;
    font-style: italic;
    text-decoration: underline;
}
/* Page 403 */
.page-403 {
    background-image: url(../pictures/Optimus-pikachu.png);
    height: 100vh;
    margin: 20px 0px;
    display: flex;
    align-items: center;
}

.text-middle-403 {
    color: #666;
    text-align: center;
    background: #c6dc12;
    padding: 15px;
    width: 200vh;
}

.text-middle-403 a{
    color: #666;
    font-style: italic;
    text-decoration: underline;
}

/* Pages d'erreurs autres que 404 et 403 */
.page-all-errors {
    background-image: url(../pictures/errors.jpg);
    background-size: cover;
    height: 100vh;
    margin: 20px 0px;
    display: flex;
    align-items: center;
}

.text-middle-all-errors {
    color: #666;
    text-align: center;
    background: #c6dc12;
    padding: 5px;
    width: 200vh;
}

.text-middle-all-errors a{
    color: #666;
    font-style: italic;
    text-decoration: underline;
}

a.page-link{
    padding: 0.5rem 0.5rem;
}

.break-link{
    word-break: break-all;
}

.regul-size{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
/* 
    Permet d'afficher le nom de l'image dans l'input 
    On récupere le nom de l'attribut grâce au jQuery
    voir fichier new don ligne 150
*/
.custom-file-label:before{
    content: attr(imgName);
}
#shema{
    border: 2px solid #f49f0a;
    max-width: 600px;
    height: 250px;
    background-image: url(/../pictures/comment_ca_marche.svg);
    margin: 0 auto;
}

@media screen and (max-width: 768px) { 
    body{
        width: 100%
    }

    h2{
        margin: .7em 0;
    }

    h3{
        font-size: 1.2em;
    }
    
    /* masque la colonne "description" du tableau qui liste les produits sur la page "détail d'un don" */
    .hide{
        display: none;
    }

    #donation-detail-head{
        margin-bottom: .5em;
    }

}
