body{
    width: 80%;
    margin: 0 auto;
}

body, html{
    margin: 0;
    padding: 0;
}

/* Suppression padding sur container fluid */
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

/* Gestion de la couleurs pour la nav et le footer */
#footer-gradient, #nav-bg-color{
    background-color : #E9F2DF;
}

/* Gestion de l'image dans le footer */
li.nav-item.text-lg-left.text-sm-center{
    text-align: center;
}

/* Padding et structure du texte "je suis ..." */
li.nav-item.col-12.col-md-2{
    padding-right: 0px;
    padding-left: 0px;
    white-space: nowrap;
}

/* Padding des ronds */
li.nav-item.col-6.col-md-5 {
    padding-left: 0;
    padding-right: 0;
}

/* Permet de gerer les ronds du header */
.circle-text {
    transition: 1s;
    width:103%;
}
.circle-text:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    background: #5BA629; 
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
}
.circle-text div {
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:white;
    text-transform: uppercase;
    font-size: 0.8em;
}

.circle-text:hover{
    transition: 1s;
    transform: rotate(-20deg);
}

@media screen and (max-width: 768px) { 

    body{
        width: 100%
    }

}