{% extends 'base.html.twig' %}

{% block title %}Modification du profil de {{user.firstname}} {{user.lastname}}{% endblock %}

{% block body %}

    {# Form pour modifier le profil #}
    {{ include('Backend/admin/_form.html.twig') }}
    
    {# Bouton de retour a la liste des utilisateurs #}
    <a href="{{path('admin_manage')}}" class="btn btn-info float-right">Retour à la liste des utilisateurs</a>

{% endblock %}