{% extends 'base.html.twig' %}

{% block title %}Erreur !{% endblock %}

{% block body %}
<div class="page-all-errors">
    <h2 class="text-middle-all-errors"><i class="fas fa-exclamation"></i> Erreur <i class="fas fa-exclamation"></i><br> Si vous êtes ici, vous n'avez rien vu (chuuuuut! ) et vous n'êtes pas au bon endroit - Retournez sur la <a href="{{path('main_index')}}">home <i class="fas fa-home"></a></i></h2>
</div>
{% endblock %}