{% extends 'base.html.twig' %}

{% block picture_header %}{% endblock %}

{% block body %}
<div class="page-403">
    <h2 class="text-middle-403">Erreur 4<i class="fas fa-ban"></i>3 <br> Des Optimus Pikachus Sauvages apparaissent. Passer par ici est interdit. Vous devez retourner dans un lieu sûr <i class="fas fa-exclamation"></i> <br> Retournez sur la <a href="{{path('main_index')}}">home <i class="fas fa-home"></a></i></h2>
</div>
{% endblock %}