{% extends 'base.html.twig' %}

{% block title %}Erreur 404 - Pika(Chou){% endblock %}

{% block body %}
<div class="page-404">
    <h1 class="text-middle-404">Erreur 4<i class="far fa-tired"></i>4 <br> Dans les choux <i class="fas fa-exclamation"></i> <br> Retournez sur la <a href="{{path('main_index')}}">home <i class="fas fa-home"></a></i></h1>
</div>
{% endblock %}