{% extends 'base.html.twig' %}

{% block title %}Créer votre compte{% endblock %}

{% block body %}
    <h2 class="text-center m-4">Créer votre compte</h2>
    {# {{dump(app.request.get('role'))}} #}
    {{ include('user/_form.html.twig') }}

{% endblock %}
