{% extends 'base.html.twig' %}

{% block title %}Créer un nouvel utilisateur{% endblock %}

{% block body %}
    <h2 class="text-center m-4">Créer votre compte</h2>

    {{ include('user/_form.html.twig') }}

{% endblock %}
