<nav class="navbar navbar-light bg-info">
  <a class="navbar-brand" href="#">Accueil</a>
  <a class="navbar-brand" href="#">Les dons</a>
  <a class="navbar-brand" href="#">Coment ça marche ?</a>
  <a class="navbar-brand" href="#">Se connecter</a>
  <a class="navbar-brand" href="#">S'inscrire</a>
</nav>